@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Montserrat:wght@800&family=Outfit&family=Playfair+Display&display=swap');

body {
    font-family: arial;
    overflow-x: hidden;
}

/* Nav Bar */

#menu a {
    @include bold;
    font-size: 1rem;
    color: $blanco;
}

.navbar {
    position: absolute;
    z-index: 2;
}

.photo {
    width: 100px;
    height: 100px;
}

a {
    font-size: 17px;
    &:hover{
    color: grey !important;
    transition: all 500ms ease !important; 
    }
}

.navbar-nav {
    text-align: center;
}

/* Video */

.carousel-inner {
    max-height: 100vh;
}

.argentina {
    color: $colorArg;
}

/*Comidas*/

h3 {
    font-family: 'Playfair Display'; 
}

article .animation {
    transition: all 500ms ease;
    img {
        border-radius: 10px;
        transition: all 500ms ease;
        &:hover{
            transform: scale(1.2);
            cursor: pointer;
        }
    }
}

.row {
    align-items: center;
}

.blackgrey2 {
    background: $blackGrey;
}

/*Carta Restaurante*/

@each $color, $height, $width, $none,$colorArg,$blanco,$siete,$height2,$fivesecond in $listaAnidada {
    .#{$color} {
        height: $height;
        width: $width;
        border: $none;
        outline: $none;
        background-color: $colorArg;
        color: $blanco;
        font-weight: $siete;
        border-radius: $height2;
        &:hover{
            background-color: $colorArg;
            transition: $fivesecond;
        }
    }
}

.card:hover {
    box-shadow: -2px -1px 25px 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: -2px -1px 25px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -2px -1px 25px 4px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}

/* Pie de Pagina */

footer {
    @extend .blackgrey2;
    min-height: ($ancho/7) - 9;
    p {
        color: $blanco;
        text-align: center;
    }
}

#iconos i {
    font-size: $h4;
    padding: 0 8px;
    color: $blanco;
}

@media (max-width:$ancho) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .servicio-fila {
        text-align: center;
    }
}

@media (max-width:($ancho/2) + 192) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
    ul {
        li {
        background-color: grey;
           height: 120px;
        }
    }
}