body {
    font-family: sans-serif;
    overflow-x: hidden;
}

/* Nav Bar */

#menu a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}


/* Video */

.carousel-inner {
    max-height: 50rem;
}

.argentina {
    color:rgba(13,110,253);
}


/*Comidas*/

.bold {
    font-weight: bold;
}

article img {
    border-radius: 10px;
}

.row {
    align-items: center;
}


/*Carta Restaurante*/

.btn1 {
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: rgba(13,110,253);
    color: white;
    font-weight: 700;
    border-radius: 60px;
}

.btn1:hover {
    background-color: rgb(12, 76, 173);
    transition: 0.5s;
}

.btn2 {
    height: 45px;
    width: 170px;
    border: none;
    outline: none;
    background-color: rgba(13,110,253);
    color: white;
    font-weight: 700;
    border-radius: 60px;
}

.btn2:hover {
    background-color: rgb(12, 76, 173);
    transition: 0.5s;
}


.card:hover {
    box-shadow: -2px -1px 25px 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: -2px -1px 25px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -2px -1px 25px 4px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}

/* Pie de Pagina */

footer {
    background: #3f3f3f;
    min-height: 100px;
}

footer p {
    color: #f3f3f3;
    text-align: center;
}

#iconos i {
    font-size: 26px;
    padding: 0 8px;
    color: #f3f3f3;
}

@media (max-width:768px) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .servicio-fila {
        text-align: center;
    }
}


@media (max-width:576px) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
}